<html>
	<head>
		<title>Daylightsticot</title>
		<link rel="stylesheet" href="static/style.css">
		{% if percent_of_next_solstice > 80 %}
		<link rel="icon" href="static/1.png">
		{% elif percent_of_next_solstice > 60 %}
		<link rel="icon" href="static/2.png">
		{% elif percent_of_next_solstice > 40 %}
		<link rel="icon" href="static/3.png">
		{% elif percent_of_next_solstice > 20 %}
		<link rel="icon" href="static/4.png">
		{% else %}
		<link rel="icon" href="static/5.png">
		{% endif %}
	</head>
	<body>
		<h1 class="delta">{{ delta }}</h1>
		<div>
			<button id="more">More</button>
			<button id="less" class="hidden">Less</button>
		</div>
		<div id="additional-info" class="hidden">
			<p>Total daylight: {{ daylight_duration }}</p>
			<p>Sunrise: {{ sunrise }}</p>
			<p>Sunset: {{ sunset }}<p/>
			<p>Today we will get {{ percent_of_next_solstice }}% as much daylight as on the summer solstice.</p>
			<div class="progress-container">
				<div class="progress">
					<div class="progress-filled" style="width: {{ percent_of_next_solstice * 5}}px;">
					</div>
				</div>
			</div>
		</div>
		<p>Data provided by the <a href="https://open-meteo.com/" target="_blank">Open Meteo API</a></p>
	</body>
	<script src="static/script.js"></script> 
</html>
